.remove-it{
    text-decoration: line-through;
}

.header{
    display:flex;
    height: 190px;
    align-items:center;
    border-bottom:5px solid white;
    margin-bottom:50px;
}

#item{
    height:190px;
    width:800px;
    border:none;
    font-size:60px;
    color: #d1d1d1;
}

.add-icon{
    width:65px;
    height:65px;
    margin-left:100px;
    -webkit-transition: width, height 0.2s ease-in-out;
    transition: width, height 0.2s ease-in-out;
}

.add-icon:hover{
    cursor: pointer;
    width:75px;
    height:75px;
}

.task-description{
    flex-grow:2;
}
.ribbon-icon{
    width:45px;
    height:45px;

}

.delete-icon, .edit-icon {
    width:45px;
    height:45px;
    padding:20px;
}

.delete-icon:hover{
    cursor: pointer;
}

.edit-icon:hover{
    cursor:pointer;
}

.ribbon-icon:hover{
    cursor:pointer;
}
.task{
    width:90%;
    background-color: #006837;
    color:white;
    font-size:72px;
    height:98px;
    padding-left:50px;
    margin:0 auto;
    display:flex;
    align-items:center;

}